attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
et-xmlfile==1.1.0
idna==3.7
more-itertools==10.2.0
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pip-autoremove==0.10.0
pluggy==0.13.1
postcodes-uk==1.0.2
py==1.11.0
pytest==5.4.3
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
setuptools==69.5.1
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
